.binaryGlobeImage {
  object-fit: contain;
  aspect-ratio: 1 / 1;
  border-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.58);
  filter: drop-shadow(rgba(0, 0, 0, 0.07) 0px 4px 3px)
    drop-shadow(rgba(0, 0, 0, 0.06) 0px 2px 2px);
  font-weight: 700;
  text-decoration: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
}
